@{
     var styling = GlobalTextEditorOptions.UseMonospaceOptimizations
          ? TextSelectionStyleCss
          : _proportionalTextSelectionStyleCss;
}

<div class="luth_te_text-selection"
     style="@styling">
</div>